@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

p {
    font-family: 'Open Sans', sans-serif;
}

.nav-item .nav-link:hover {
    color: #0dcaf0 !important;
}

.skill-img {
    margin: 0 5em 0 5em;
}

.bg-darkgray {
    background-color: #1a1c1c;
}


.bg-dark-1 {
    background-color: #000000;
}

.bg-dark-2 {
    background-color: #111111;
}

.bg-dark-3 {
    background-color: #191919;
}

/* .text-orange {
    color: #EEEEEE;
} */

@keyframes grow {
    0% {
        transform: scale(0);
        /* Start from zero size */
    }

    50% {
        transform: scale(1.1);
        
    }

    100% {
        transform: scale(1);
        /* End at full size */
    }
}

.bloom-effect {
    /* Set the animation name, duration, delay, and fill mode */
    animation-name: grow;
    animation-duration: 0.5s;
    /* Make the animation faster */
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.slide-right {
    position: relative;
    transform:  translateX(-200px);
    opacity: 0;
    transition: 1s all ease;
}

.slide-right.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-left {
    position: relative;
    transform:  translateX(200px);
    opacity: 0;
    transition: 1s all ease;
}

.slide-left.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-up {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    animation-delay: 1s;
    transition: 1s all ease;
}

.slide-up.active {
    transform: translateY(0);
    opacity: 1;
}


/* .display-img {
    box-shadow: 0px 0px 10px 10px #0dcaf0;
    border-radius: 75px;
} */

.soc-icon {
    height: 50px;
    width: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #0dcaf0;
    border-radius: 50%;
    transition: 0.5s all ease;
}

.soc-icon:hover {
    color: #191919;
    border: 2px solid #ffffff;
    background-color: #0dcaf0;
}